.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.myList {
  list-style-type: none; /* Removes default list bullet points */
  padding: 0; /* Removes default padding */
  margin: 12px; /* Removes default margin */
}

.myList li {
  padding: 10px; /* Adjust padding as needed */
  margin-bottom: 5px; /* Adjust margin between list items as needed */
  background-color: #f0f0f0; /* Background color for list items */
  border-radius: 5px; /* Optional: Adds rounded corners */
  transition: background-color 0.3s ease; /* Optional: Smooth transition effect */
}

